<app-header></app-header>
<app-nav></app-nav>
<div id="layout-contacts">
    <div class="wrapper">

        <div class="button">
            <div class="icon">
                <i class="fa-brands fa-whatsapp"></i>
            </div>
            <span>WhatsApp</span>
        </div>

        <div class="button">
            <div class="icon">
                <i class="fa-brands fa-instagram"></i>
            </div>
            <span>Instagram</span>
        </div>

        <div class="button">
            <div class="icon">
                <i class="fa-brands fa-linkedin"></i>
            </div>
            <span>Linkedin</span>
        </div>

        <div class="button">
            <div class="icon">
                <i class="fa-brands fa-github"></i>
            </div>
            <span>GitHub</span>
        </div>

    </div>
    
</div>

<app-footer></app-footer>